# Server Configuration
PORT=
NODE_ENV=development 

# JWT Configuration
JWT_SECRET=

#CORS, Must Match Front End Port
CORS_ORIGIN=

# Compiler API Configuration
CLIENT_ID = 
CLIENT_SECRET = 

#POSTGRESQL Database Configuration 
DATABASE_URL=


