.header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between; /* Distribute items with space between */
    align-items: center; /* Center items vertically */
}

nav {
    display: flex; /* Make nav a flex container */
    align-items: center; /* Center items vertically */
}

nav a {
    text-decoration: none; /* Remove underlines from links */
    margin:5px 20px /* Adjust spacing between links */
    
}