.header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

nav {
    display: flex; 
    align-items: center; 
}

nav a {
    text-decoration: none;
    margin:5px 20px 
    
}