.main {
  display: flex;
  padding: 20px;
  text-align: center; 
}

.welcome_section {
  display: flex;
  margin-bottom: 40px;
}

.welcome_section h1 {
  justify-content: center;
  font-size: 2.5rem; 
  margin-bottom: 10px;
  color:black;
}


.image_section {
  justify-self: center;
  text-align: center; 
}

.image_section img {
  max-width: 100%;
  height: auto;
}
